* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fonts-start */
@font-face {
    font-family: Poppins;
    src: url('../Fonts/Poppins/Poppins-Bold.ttf');

}
@font-face {
    font-family: Poppins-500;
    src: url('../Fonts/Poppins/Poppins-Medium.ttf');

}

@font-face {
    font-family: Inter;
    src: url('../Fonts/Inter-VariableFont_slnt\,wght.ttf');
}

/* fonts-end */
/* <!-- Section-with-header-content-start --> */
#headerAndContentSection {
    max-width: 100%;
    height: 100%;
    position: relative;
}

#headerAndContentContainer {
    max-width: 75%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: 0.7fr;
}

.headerContent {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    align-items: center;
    padding-top: 39px;
}

.headerRightSideLinks ul {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 55px;
}

.headerRightSideLinks ul li a {
    text-decoration: none;
    color: #001C3D;
    font-family: inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.headerRightSideLinks ul li i {
    font-size: 20px;

}

.headerRightSideLinks ul li .down-icon {
    padding-left: 4px;
}

.headerRightSideLinks .hamburgerIcon {
    display: none;
    color: white;
    margin-right: 5px;
    font-size: 22px;
}

/* responsive hamburger button start */
.headerRightSideLinks {
    position: relative;
}

.hidden {
    display: none;
    flex-direction: row;

}

.dropdownList {
    position: absolute;
    right: 0;
    z-index: 4;
    margin-top: 10px;


}

.dropdownListContent {
    display: grid;
    grid-template-rows: 0.2fr 0.2fr 0.2fr;
    gap: 10px;
    background-color: #001C3D;
    width: 220px;
    border-radius: 7px;
    padding: 10px 0px;
}

.js-navbar-list li {
    padding: 7px;
    list-style: none;
    margin-right: 10px;

}

.js-navbar-list li a {
    text-decoration: none;
    color: var(--white-white, #ffffff);
    font-family: inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* responsive hamburger button end */

/* responsive globus button start */
.headerRightSideLinks {
    position: relative;
}

.hidden {
    display: none;
    flex-direction: row;

}

.globusdownList {
    position: absolute;
    right: -8px;
    z-index: 4;
    top: 36px;

}

.languageListContent {
    display: grid;
    grid-template-rows: 0.2fr 0.2fr;
    background-color: #001C3D;
    width: 47px;
    height: 80px;
    border-radius: 7px;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
}

.js-language-list li {
    list-style: none;
}

.js-language-list li a {
    text-decoration: none;
    color: var(--white-white, #ffffff);
    font-family: inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* responsive globus button end */

/* <!-- Section-with-header-content-end --> */


/* investors Section start */
.investorsSectionContainer {
    max-width: 75%;
    margin: auto;
    margin-top: 235px;
    margin-bottom: 300px;
}

.investorsSectionContent {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 76px;
}

.investorsSectionContent .heading h1 {
    color: var(--black-black-blue-24, #001C3D);
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.investorsSectionContent .text p {
    color: var(--black-black-blue-24, #001C3D);
    font-family: Poppins-500    ;
    font-size: 24px;
    font-style:normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.investorsSectionContent .text :nth-child(1) {
    padding-bottom: 24px;
}

/* investors Section start */






/* responsive all content start */
@media only screen and (max-width: 1272px) {}

@media only screen and (max-width: 1164px) {}

@media only screen and (max-width: 1000px) {}

@media only screen and (max-width: 770px) {
    .headerRightSideLinks ul {
        display: flex;
        justify-content: end;
        list-style: none;
        gap: 10px;
    }

    .investorsSectionContent {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        padding: 10px;
    }
}

@media only screen and (max-width: 850px) {
    .headerRightSideLinks ul {
        display: flex;
        justify-content: end;
        list-style: none;
        gap: 15px;
    }
}

@media only screen and (max-width: 699px) {
    .headerRightSideLinks ul {
        display: flex;
        justify-content: end;
        list-style: none;
        gap: 7px;
    }
}


@media only screen and (max-width: 644px) {
    .headerRightSideLinks ul li {
        display: none;

    }

    .headerRightSideLinks .hamburgerIcon {
        display: block;
    }

    .investorsSectionContent {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 0px;
        padding: 0px;
    }
}

@media only screen and (max-width: 490px) {
    .investorsSectionContainer {
        max-width: 80%;
        margin: auto;
        margin-top: 180px;
        margin-bottom: 220px;
    }

    .investorsSectionContent {
        display: grid;
        grid-template-rows: 0.5fr 1fr;
        gap: 0px;
    }

    .investorsSectionContent .heading h1 {
        color: var(--black-black-blue-24, #001C3D);
        font-family: Poppins;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        justify-content: center;
    }

    .investorsSectionContent .text p {
        color: var(--black-black-blue-24, #001C3D);
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: flex;
        justify-content: center;
    }

    .investorsSectionContent .text :nth-child(1) {
        padding-bottom: 14px;
    }
}

@media only screen and (max-width: 220px) {}

/* responsive all content start */