* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fonts-start */
@font-face {
    font-family: Inter;
    src: url('../Fonts/Inter-VariableFont_slnt\,wght.ttf');
}

/* fonts-end */

/* main-section-whyBeso-start */
.whyBesoContentSection {
    display: grid;
    grid-template-rows: 1fr;
    margin-top: auto;
    padding-top: 65px;
}



.whyBesoContent {
    width: 50%;
    margin: auto;
}

.whyBesoContent h1 {
    color: #000;
    font-family: Inter;
    font-size: 58px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.whyBesoIconcontent {
    width: 71%;
    margin: auto;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    gap: 188px;
    padding-top: 95px;
}

.whyBesoContent p {
    color: var(--gray-gray-450, #7F8285);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 32px;
}

.securityCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.securityCard h3 {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.securityCard p {
    color: var(--gray-gray-500, #76787A);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 162.5% */
}

.designCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.designCard h3 {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.designCard p {
    color: var(--gray-gray-500, #76787A);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 162.5% */
}

.userFriendlyCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.userFriendlyCard h3 {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.userFriendlyCard p {
    color: var(--gray-gray-500, #76787A);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 162.5% */
}

/* main-section-whyBeso-end */

.card {
    transition: 0.7s;
}

/* whybesocontent animation-start */
.whyBesoContentContainer .card {
    transform: translateY(700%);
    transition-delay: calc(.4s*var(--i));
    margin-bottom: 20px;
    overflow: hidden;
    opacity: 0;
} */

.whyBesoIconcontent .card {
    transition-delay: calc(.4s*var(--i));
    margin-bottom: 20px;
}

.whyBesoContentSection.show-animate .animate {
    transform: translateX(0);
    overflow: visible;
    opacity: 1;
}

/* whybesocontent animation-end

/* How this app work section star */
.informationAbputaAppHowThisWork {
    width: 100%;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    padding-top: 180px;
}

.howThisAppWorkContent {
    width: 50%;
    margin: auto;
}

.howThisAppWorkContent h1 {
    color: #000;
    font-family: Inter;
    font-size: 58px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding-bottom: 32px;

}

.howThisAppWorkContent p {
    color: var(--gray-gray-450, #7F8285);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.informationAppIconAndImage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 62px;
    padding-top: 100px;
}

.informationIconsContent {
    display: grid;
    grid-template-columns: 0.4fr 0.4fr;
    grid-column-gap: 65px;
    grid-row-gap: 39px;
}

.informationIconsContent h3 {
    color: var(--gray-gray-1000, #0A0A0A);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    /* 177.778% */
    margin-top: 23px;
    padding-bottom: 23px;
}

.informationIconsContent p {
    color: var(--gray-gray-500, #76787A);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 185.714% */
}

/* How this app work section end */











@media only screen and (max-width: 1272px) {}

@media only screen and (max-width: 1164px) {
    .whyBesoContent {
        width: 76%;

    }

    .whyBesoIconcontent {
        width: 95%;
        gap: 88px;

    }
}

@media only screen and (max-width: 1000px) {
    .informationAppIconAndImage {
        display: grid;
        grid-template-columns: 1fr;
        gap: 62px;
        padding-top: 100px;
    }

    .informationIconsContent {
        display: grid;
        grid-template-columns: 0.4fr 0.4fr;
        grid-column-gap: 65px;
        grid-row-gap: 39px;
        justify-content: center;
    }
}

@media only screen and (max-width: 770px) {}

@media only screen and (max-width: 590px) {
    .whyBesoContent h1 {
        font-size: 46px;
    }

    .whyBesoIconcontent {
        gap: 28px;

    }

    .whyBesoIconcontent {
        width: 71%;
        margin: auto;
        display: grid;
        justify-content: center;
        grid-template-columns: 0.5fr;
        gap: 90px;
        padding-top: 95px;
    }

    .howThisAppWorkContent {
        width: 77%;
        margin: auto;
    }

}

@media only screen and (max-width: 330px) {
    .whyBesoContent h1 {
        font-size: 40px;
    }

    .informationIconsContent {
        display: grid;
        grid-template-columns: 0.4fr;
        grid-column-gap: 65px;
        grid-row-gap: 39px;
        justify-content: center;
    }

}

@media only screen and (max-width: 250px) {
    .whyBesoContent h1 {
        font-size: 33px;
    }
}